In [39]:
import pandas as pd 
import numpy as np

In [41]:
import datetime as dt

In [43]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/blob/main/global_earthquake.csv?raw=true")
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [44]:
df[['Date','Time']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23409 entries, 0 to 23408
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23409 non-null  object
 1   Time    23409 non-null  object
dtypes: object(2)
memory usage: 365.9+ KB

In [45]:
df[['Date']].head()

         Date
0  01/02/1965
1  01/04/1965
2  01/05/1965
3  01/08/1965
4  01/09/1965

In [49]:
pd.to_datetime(df['Date'],format='%m/%d/%Y')

0       1965-01-02
1       1965-01-04
2       1965-01-05
3       1965-01-08
4       1965-01-09
           ...
23404   2016-12-28
23405   2016-12-28
23406   2016-12-28
23407   2016-12-29
23408   2016-12-30
Name: Date, Length: 23409, dtype: datetime64[ns]

In [51]:
df['datetime']=pd.to_datetime(df['Date'],format='%m/%d/%Y')
df.datetime.info()

<class 'pandas.core.series.Series'>
RangeIndex: 23409 entries, 0 to 23408
Series name: datetime
Non-Null Count  Dtype
--------------  -----
23409 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 183.0 KB

In [53]:
pd.to_datetime(df['Time'],format='%H:%M:%S')

0       1900-01-01 13:44:18
1       1900-01-01 11:29:49
2       1900-01-01 18:05:58
3       1900-01-01 18:49:43
4       1900-01-01 13:32:50
                ...
23404   1900-01-01 08:22:12
23405   1900-01-01 09:13:47
23406   1900-01-01 12:38:51
23407   1900-01-01 22:30:19
23408   1900-01-01 20:08:28
Name: Time, Length: 23409, dtype: datetime64[ns]

In [55]:
pd.to_datetime(df['Time'],format='%H:%M:%S').dt.time

0        13:44:18
1        11:29:49
2        18:05:58
3        18:49:43
4        13:32:50
           ...
23404    08:22:12
23405    09:13:47
23406    12:38:51
23407    22:30:19
23408    20:08:28
Name: Time, Length: 23409, dtype: object

In [59]:
df['Time']=pd.to_datetime(df['Time'],format='%H:%M:%S').dt.time

In [61]:
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,datetime
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-02
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-04
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-05
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-08
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,1965-01-09